@import url(https://fonts.googleapis.com/css?family=Oswald:700,400,300);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900,300);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

@green: #79AC07;
@mustard: #D5D500;
@peacock: #56A9C9;
@plum: #6C006F;
@scarlet: #F90403;

html, body {
margin: 0;
padding: 0;
}

.container {
width: 1000px;
margin: 0 auto;
position: relative;
}

.container h1 span {
display: none;
}
.container h1 {
margin: 10px 0 0 0;
padding: 0;
width: 200px;
height: 40px;
background: url('/images/logo.png') center no-repeat;
}

// ------ Game not started message ------

#game-not-started {
font-family: Montserrat;
color: #333;
border-bottom: 1px dotted #CCC;
}
#game-not-started h3 {
font-weight: 100;
}
#game-not-started h3 small {
color: #999;
}

// ------ This player ------

#this-player {
margin-top: 0;
padding-top: 50px;
}
#this-player h2,
#this-player h3 {
margin: 0;
padding: 0;
}
#this-player h2 {
font-family: Montserrat;
}
#this-player h3 {
font-family: Oswald;
font-weight: 100;
}
.this-player-green {
background: url('/images/character-green.png') top right no-repeat;
background-size: 200px;
background-position-y: -10px;
}
.this-player-scarlet {
background: url('/images/character-scarlet.png') top right no-repeat;
background-size: 160px;
background-position-y: -20px;
}
.this-player-plum {
background: url('/images/character-plum.png') top right no-repeat;
background-size: 160px;
background-position-y: 3px;
}
.this-player-peacock {
background: url('/images/character-peacock.png') top right no-repeat;
background-size: 200px;
background-position-y: -10px;
}
.this-player-mustard {
background: url('/images/character-mustard.png') top right no-repeat;
background-size: 200px;
background-position-y: -5px;
}
.this-player-green h2 {
color: @green;
}
.this-player-green h3 {
color: lighten(@green, 10%);
}
.this-player-mustard h2 {
color: @mustard;
}
.this-player-mustard h3 {
color: darken(@mustard, 10%);
}
.this-player-peacock h2 {
color: @peacock;
}
.this-player-peacock h3 {
color: lighten(@peacock, 10%);
}
.this-player-plum h2 {
color: @plum;
}
.this-player-plum h3 {
color: lighten(@plum, 10%);
}
.this-player-scarlet h2 {
color: @scarlet;
}
.this-player-scarlet h3 {
color: lighten(@scarlet, 10%);
}
.this-player-white h2 {
color: #333;
}
.this-player-white h3 {
color: #666;
}
.this-player-is-done h2 {
color: #999;
}
.this-player-is-done h3 {
color: #CCC;
}
.this-player-is-done #this-player,
.this-player-is-done #cards,
.this-player-is-done #game-sheet table {
-webkit-filter: grayscale(1);
opacity: 0.5;
}
.this-player-is-done #current-player h3 {
color: #333;
}



// ------- Current Player ------

#current-player {
border-bottom: 1px dotted #CCC;
padding: 0 0 10px 0;
}
#current-player h3,
#current-player h4 {
margin: 0;
padding: 0;
}
#current-player h3 {
margin: 10px 0 10px 0;
}
#current-player h3,
#current-player h4 {
font-family: Montserrat;
}
#current-player h4 small {
font-family: Oswald;
font-weight: 100;
}

.current-player-green {
background: url('/images/character-green.png') top right no-repeat;
background-size: 70px;
background-position-y: 30px;
background-position-x: 80px;
}
.current-player-scarlet {
background: url('/images/character-scarlet.png') top right no-repeat;
background-size: 60px;
background-position-y: 30px;
background-position-x: 90px;
}
.current-player-peacock {
background: url('/images/character-peacock.png') top right no-repeat;
background-size: 70px;
background-position-y: 30px;
background-position-x: 80px;
}
.current-player-mustard {
background: url('/images/character-mustard.png') top right no-repeat;
background-size: 70px;
background-position-y: 30px;
background-position-x: 85px;
}
.current-player-white {
background: url('/images/character-white.png') top right no-repeat;
background-size: 60px;
background-position-y: 25px;
background-position-x: 100px;
}

.current-player-green h4 {
color: @green;
}
.current-player-green h4 small {
color: lighten(@green, 10%);
}
.current-player-mustard h4 {
color: @mustard;
}
.current-player-mustard h4 small {
color: darken(@mustard, 10%);
}
.current-player-peacock h4 {
color: @peacock;
}
.current-player-peacock h4 small {
color: lighten(@peacock, 10%);
}
.current-player-plum h4 {
color: @plum;
}
.current-player-plum h4 small {
color: lighten(@plum, 10%);
}
.current-player-scarlet h4 {
color: @scarlet;
}
.current-player-scarlet h4 small {
color: lighten(@scarlet, 10%);
}
.current-player-white h4 {
color: #333;
}
.current-player-white h4 small {
color: #666;
}

// ------- Game Over ------

#game-over {
background: white;
position: absolute;
width: 99%;
height: 100vh;
z-index: 9999;
opacity: 0.95;
padding: 75px 0 0 0;
}
#game-over h1 {
font-family: Montserrat;
font-size: 56px;
letter-spacing: -1px;
text-align: center;
margin: 0;
padding: 0 0 30px 0;
}
#game-over .game-over-wrapper {
width: 600px;
height: 400px;
margin: 0 auto;
}
#game-over .game-over-wrapper h2, 
#game-over .game-over-wrapper h3,
#game-over .game-over-wrapper h4 {
margin: 0;
padding: 0;
}
#game-over .game-over-wrapper h2 {
font-family: Montserrat;
font-size: 46px;
}
#game-over .game-over-wrapper h3 {
font-family: Oswald;
font-size: 36px;
font-weight: 400;
}
#game-over .game-over-wrapper h4 {
font-family: Montserrat;
color: #333;
margin: 35px 0;
width: 250px;
}
.winner-panel-green {
background: url('/images/character-green.png') top right no-repeat;
background-size: 225px;
}
.winner-panel-mustard {
background: url('/images/character-mustard.png') top right no-repeat;
background-size: 225px;
}
.winner-panel-peacock {
background: url('/images/character-peacock.png') top right no-repeat;
background-size: 225px;
}
.winner-panel-plum {
background: url('/images/character-plum.png') top right no-repeat;
background-size: 200px;
}
.winner-panel-scarlet {
background: url('/images/character-scarlet.png') top right no-repeat;
background-size: 150px;
}
.winner-panel-white {
background: url('/images/character-white.png') top right no-repeat;
background-size: 200px;
}
.winner-panel-green h2 {
color: @green;
}
.winner-panel-green h3 {
color: lighten(@green, 10%);
}
.winner-panel-mustard h2 {
color: @mustard;
}
.winner-panel-mustard h3 {
color: darken(@mustard, 10%);
}
.winner-panel-peacock h2 {
color: @peacock;
}
.winner-panel-peacock h3 {
color: lighten(@peacock, 10%);
}
.winner-panel-plum h2 {
color: @plum;
}
.winner-panel-plum h3 {
color: lighten(@plum, 10%);
}
.winner-panel-scarlet h2 {
color: @scarlet;
}
.winner-panel-scarlet h3 {
color: lighten(@scarlet, 10%);
}
.winner-panel-white h2 {
color: #333;
}
.winner-panel-white h3 {
color: #666;
}
.game-over-centered {
width: 100%;
overflow: hidden;
text-align: center;
}
.game-over-centered h4 {
width: 100%!important;
}
.game-over-centered .player-card {
margin-left: 75px!important;
}

// ------- The Board ------

#board {
border: 1px solid #FFF;
border-collapse: collapse;
margin-top: 25px;
}
#board td {
width: 125px;
height: 100px;
border: 1px dashed #CCC;
vertical-align:bottom;
}
#board .hole {
border: 0!important;
background: #666;
}
// Need to Strangest position:relative glitches with Chrome...
#board tr td .cell-content {
position: relative;
// overflow: hidden;
width: 125px;
height: 100px;
display: table-cell;
vertical-align: bottom;
}
#board tr td .description {
position: absolute;
width: 100%;
height: 100%;
top: 3px;
left: 3px;
font-family: Oswald;
font-weight: 100;
font-size: 16px;
color: #999;
z-index: -999;
}

// Arrows to show secret passages
#board .teleporter-arrow {
position: absolute;
bottom: 0;
color: #CCC;
}
#space-conservatory .teleporter-arrow {
transform: rotate(-45deg);
}
#space-lounge .teleporter-arrow {
transform: rotate(135deg);
}
#space-study .teleporter-arrow {
transform: rotate(45deg);
}
#space-kitchen .teleporter-arrow {
transform: rotate(-135deg);
}

.board-suspect .player-suspect,
.board-suspect .player-name {
display: none;
}
.board-suspect {
width: 30px;
height: 30px;
margin: 2px;
background-color: #333;
border: 3px solid transparent;
border-radius: 50%;
float: right;
text-align: center;
line-height: 175%;
color: white;
font-family: lato;
font-size: 16px;
text-transform: capitalize;
}
.board-suspect-white {
background-color: #999;
border-color: #DDD;
color: white;
}
.board-suspect-green {
background-color: @green;
border-color: lighten(@green, 20%);
}
.board-suspect-mustard {
background-color: @mustard;
border-color: lighten(@mustard, 20%);
color: #333;
}
.board-suspect-peacock {
background-color: @peacock;
border-color: lighten(@peacock, 20%);
}
.board-suspect-plum {
background-color: @plum;
border-color: lighten(@plum, 20%);
}
.board-suspect-scarlet {
background-color: @scarlet;
border-color: lighten(@scarlet, 20%);
}


// http://cssarrowplease.com/
.player-info-wrapper {
position: relative;
cursor: pointer;
}

.player-info {
background: #FFF;
color: #333!important;
position: relative;
width: 150px;
height: 85px;
background: #FFF;
left: -60px;
top: -140px;
z-index: 9999;
border-radius: 5px;
}
.player-info:after, .player-info:before {
top: 100%;
left: 50%;
border: solid transparent;
content: " ";
height: 0;
width: 0;
position: absolute;
pointer-events: none;
}
.player-info:after {
border-color: rgba(255, 255, 255, 0);
border-width: 20px;
margin-left: -20px;
}
.player-info:before {
border-color: rgba(204, 204, 204, 0);
border-width: 23px;
margin-left: -23px;
}

.player-info-name {
display: block;
font-family: Montserrat;
font-size: 20px;
padding: 5px 0;
}
.player-info-suspect {
display: block;
font-family: Oswald;
font-size: 20px;
font-weight: 100;
padding: 10px;
color: white;
}

.player-info-green .player-info-name {
background: @green;
color: white;
}
.player-info-green .player-info-suspect {
background: lighten(@green, 10%);
}
.player-info-mustard .player-info-name {
background: @mustard;
}
.player-info-mustard .player-info-suspect {
background: lighten(@mustard, 10%);
color: #333;
}
.player-info-peacock .player-info-name {
background: @peacock;
color: white;
}
.player-info-peacock .player-info-suspect {
background: lighten(@peacock, 10%);
}
.player-info-plum .player-info-name {
background: @plum;
color: white;
}
.player-info-plum .player-info-suspect {
background: lighten(@plum, 10%);
}
.player-info-scarlet .player-info-name {
background: @scarlet;
color: white;
}
.player-info-scarlet .player-info-suspect {
background: lighten(@scarlet, 10%);
}
.player-info-white {
border: 1px solid #EEE;
}
.player-info-white .player-info-name {
background: #999;
border-bottom: 1px solid #EEE;
color: white;
}
.player-info-white .player-info-suspect {
color: #333;
}

.player-info-green.player-info:after {
border-top-color: lighten(@green, 10%);
}
.player-info-mustard.player-info:after {
border-top-color: lighten(@mustard, 10%);
}
.player-info-peacock.player-info:after {
border-top-color: lighten(@peacock, 10%);
}
.player-info-plum.player-info:after {
border-top-color: lighten(@plum, 10%);
}
.player-info-scarlet.player-info:after {
border-top-color: lighten(@scarlet, 10%);
}
.player-info-white.player-info:after {
border-top-color: #CCC;
}

.player-out-of-game {
background-color: white!important;
border-color: #CCC!important;
border-style: dotted;
color: #CCC;
}
.player-out-of-game strong {
color: #FFF!important;
}
.player-out-of-game .player-info-name {
background: #CCC;
}
.player-out-of-game .player-info-suspect {
background: #DDD;
}
.player-out-of-game .player-info:after {
border-top-color: #DDD;
}

// Show a nice little jiggle for the current player
@keyframes bounce {
0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
40% {transform: translateY(-10px);}
60% {transform: translateY(-5px);}
}
@keyframes pulse {
    from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    50% {
    -webkit-transform: scale3d(1.5, 1.5, 1.5);
    transform: scale3d(1.5, 1.5, 1.5);
    }
    to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
}
.player-current-turn {
// animation-name: bounce;
// animation-duration: 2s;
// animation-iteration-count: infinite;
}

// ------ Toastr -------

// Toastr
#toast-container {
position: fixed;
bottom: 0;
left:0;
width: 100%;
}
.toast {
position: relative;
height: 30px;
opacity: 0.95;
color: white;
padding: 0 10px;
line-height: 30px;
font-family: Lato;
font-weight: 100;
cursor: pointer;
}
.toast .toast-message {
z-index: 9999;
}
.toast .toast-progress {
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 30px;
z-index: -999;
}
.toast-info {
display: none;
}
.toast-error {
background: #F90403;
border-top: 1px solid #FF0000;
}
.toast-error .toast-progress {
background: #990000;
}
.toast-success {
background: #698C00;
}
.toast-success .toast-progress {
background: #4C6600;
}


// ------ Add Player Dialog ------

#add-player-background {
width: 99%;
height: 99%;
position: absolute;
z-index: 999;
background: white;
}
#add-player {
z-index: 9999;
position: absolute;
text-align: center;
width: 100%;
margin-top: 5%;
}
#add-player h2 {
margin: 0 0 15px 0;
padding: 0;
color: #111;
font-size: 30px;
font-family: Montserrat;
letter-spacing: -1px;
background: url('/images/logo-red.png') top center no-repeat;
padding-top: 75px;
}
#add-player form input {
display: block;
margin: 0 auto;
text-align: center;
font-size: 30px;
font-family: Montserrat;
font-weight: 700;
padding: 5px;
border: 1px solid white;
border-bottom: 1px solid #CCC;
}
.add-player-name-ok {
border: 1px solid white!important;
}
#add-player h3 {
margin: 15px 0 25px 0;
padding: 0;
font-size: 30px;
font-family: Montserrat;
color: #333;
letter-spacing: -1px;
}

// http://jsbin.com/image-instead-of-radio-button/3/edit
#add-player label {
cursor: pointer;
user-select: none;
}
#add-player label > input {
visibility: hidden;
position: absolute;
}
#add-player input[disabled]+b {
display: none;
}
#add-player label > b {
display: inline-block;
vertical-align: middle;
width: 100px;
height: 200px;
background-size: contain;
background-repeat: no-repeat;
background-position: center bottom;
transition: all .2s ease-in-out;
}
#add-player label > b:hover {
transform: scale(1.2);
}

.add-player-suspect-white {
background: url('/images/character-white.png');
width: 120px!important;
}
.add-player-suspect-green {
background: url('/images/character-green.png');
width: 115px!important;
}
.add-player-suspect-mustard {
background: url('/images/character-mustard.png');
width: 120px!important;
}
.add-player-suspect-peacock {
background: url('/images/character-peacock.png');
width: 115px!important;
}
.add-player-suspect-plum {
background: url('/images/character-plum.png');
}
.add-player-suspect-scarlet {
background: url('/images/character-scarlet.png');
}

#add-player button {
display: block;
margin: 40px auto 10px auto;
background: red;
color: white;
border: 1px solid red;
width: 50px;
height: 50px;
border-radius: 50px;
font-family: Montserrat;
font-size: 30px;
letter-spacing: -1px;
transition: all .2s ease-in-out;
cursor: pointer;
text-transform: lowercase;
}
#add-player button:hover {
transform: scale(1.5);
}

#logs {
position: absolute;
top: 610px;
bottom: 0;
overflow-y: scroll;
width: 215px;
height: 275px;
}
#logs h3 {
margin: 0 0 10px 5px;
padding: 0;
font-family: Montserrat;
}
#logs ul {
list-style-type: none;
margin: 0;
padding: 0;
}
#logs ul li span {
color: #999;
font-family: Montserrat;
font-weight: 100;
font-size: 11px;
}
#logs ul li {
border-bottom: 1px dotted #DDD;
padding: 5px;
font-family: Montserrat;
font-weight: 400;
font-size: 12px;
}
#logs ul:last-child li {
border-bottom: 0!important;
}


#suggestions {
position: absolute;
width: 420px;
left: 240px;
position: absolute;
top: 610px;
bottom: 0;
overflow-y: scroll;
height: 275px;
}
#suggestions h3 {
margin: 0 0 10px 5px;
padding: 0;
font-family: Montserrat;
}
#suggestions table {
width: 100%;
border-collapse: collapse;
}
#suggestions table tr td {
border-bottom: 1px dotted #CCC;
padding: 5px 0;
}
#suggestions table tr td:first-child {
padding: 0;
}
#suggestions table tr:last-child td {
border-bottom: 0;
}
#suggestions table tr td:nth-child(2) {
font-family: Montserrat;
font-weight: 400;
font-size: 11px;
width: 90px;
color: #999;
vertical-align: top;
text-align: right;
padding: 10px 5px 0 0;
}
#suggestions .player-card {
transform: scale(0.75);
margin: -10px;
}


// ------ Actions ------

#actions h3, h4, form {
margin: 0;
padding: 0;
}
#actions h3 {
margin: 10px 0 10px 0;
font-family: Montserrat;
}
#actions h4 {
font-family: Montserrat;
font-weight: 400;
font-size: 15px;
margin: 0 0 5px 0;
}
#actions select {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
width: 100%;
display: block;
padding: 3px;
border: 1px solid #CCC;
border-radius: 5px!important;
margin: 0 0 5px 0;
background: white url('/images/select-dropdown-arrow.png') no-repeat;
background-size: 10px;
background-position: 97% 5px;
color: #333;
}
.action {
border-bottom: 1px solid #DDD;
padding: 0 0 10px 0;
margin: 10px 0 0 0;
}
#actions form label {
font-family: Oswald;
font-weight: 100;
font-size: 13px;
color: #666;
}
#actions button[type='submit'] {
cursor: pointer;
border: 0;
background: #EEE;
width: 100%;
border-radius: 5px;
color: #333;
font-family: Montserrat;
font-size: 12px;
}
#actions button:hover {
background: #CCC;
}
#actions #end-turn {
padding: 5px 0;
}
#actions #end-turn button {
background: #999;
color: white;
font-size: 15px;
}
#actions #end-turn button:hover {
background: #666;
}
.action-mask {
background: #FFF;
position: absolute;
opacity: 0.65;
cursor: not-allowed;
width: 155px;
}
#actions > .action-mask {
height: 485px;
}
.action-move > .action-mask {
height: 75px;
}
.action-suggest > .action-mask {
height: 140px;
}

// ------ Gamesheet ------

#game-sheet h3 {
margin: 10px 0 5px 0;
padding: 0 0 0 15px;
width: 100%;
text-align: left;
font-family: Montserrat;
font-weight: 900;
}
#game-sheet table {
width: 100%;
background-size: contain;
border-collapse: collapse;
}
#game-sheet table thead tr th {
font-family: Montserrat;
padding: 10px 0 5px 15px;
text-align: left;
font-weight: 100;
}
#game-sheet table tbody {
width: 95%;
}
#game-sheet table tr td {
border-bottom: 1px dotted #CCC;
padding: 2px 5px;
font-family: Oswald;
font-weight: 300;
font-size: 12px;
}
#game-sheet table tr td:first-child {
padding-left: 15px;
}
#game-sheet table tr td:nth-child(2) {
text-align: center;
}
#game-sheet table tr:last-child td {
border-bottom: none;
}


// ------- Cards ------

#cards {
overflow: hidden;
margin: 25px 0 0 0;
padding: 0 0 10px 0;
border-bottom: 1px dotted #CCC;
}
#cards h3 {
display: none;
}
.player-card {
height: 125px;
width: 95px;
margin-right: 5px;
float: left;
position: relative;
background-color: white;
}
.player-card-name,
.player-card-name-rotated {
font-family: Montserrat;
font-weight: 100;
font-size: 10px;
text-align: center;
padding: 3px 0;
border-bottom: 1px solid #CCC;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border: 1px solid #999;
}

.player-card-background {
background-position: top center!important;
background-repeat: no-repeat!important;
background-size: 75px!important;
width: 98%;
height: 85px;
border-left: 1px solid #999;
border-right: 1px solid #999;
}
.player-card-name-rotated {
transform: rotate(-180deg);
position: absolute;
width: 93px;
bottom: 0;
}

.player-card-scarlet div[class^="player-card-name"] { background: @scarlet; color: white; }
.player-card-scarlet .player-card-background { background: url('/images/character-scarlet.png'); }

.player-card-mustard div[class^="player-card-name"] { background: @mustard; }
.player-card-mustard .player-card-background { background: url('/images/character-mustard.png'); }

.player-card-white div[class^="player-card-name"] { background: #999; color: white; }
.player-card-white .player-card-background { background: url('/images/character-white.png'); }

.player-card-green div[class^="player-card-name"] { background: @green; }
.player-card-green .player-card-background { background: url('/images/character-green.png'); }

.player-card-peacock div[class^="player-card-name"] { background: @peacock; }
.player-card-peacock .player-card-background { background: url('/images/character-peacock.png'); }

.player-card-plum div[class^="player-card-name"] { background: @plum; color: white; }
.player-card-plum .player-card-background { background: url('/images/character-plum.png'); }

.player-card-study div[class^="player-card-name"] {}
.player-card-study .player-card-background {background: url('/images/room-study.png'); }

.player-card-hall div[class^="player-card-name"] {}
.player-card-hall .player-card-background { background: url('/images/room-hall.png'); }

.player-card-lounge div[class^="player-card-name"] {}
.player-card-lounge .player-card-background { background: url('/images/room-lounge.png'); }

.player-card-library div[class^="player-card-name"] {}
.player-card-library .player-card-background {background: url('/images/room-library.png'); background-position-y: 10px!important; }

.player-card-billiard_room div[class^="player-card-name"] {}
.player-card-billiard_room .player-card-background { background: url('/images/room-billiard_room.png'); background-size: 60px!important; }

.player-card-dining_room div[class^="player-card-name"] {}
.player-card-dining_room .player-card-background { background: url('/images/room-dining_room.png'); }

.player-card-conservatory div[class^="player-card-name"] {}
.player-card-conservatory .player-card-background {background: url('/images/room-conservatory.png'); background-size: 60px!important;}

.player-card-ballroom div[class^="player-card-name"] {}
.player-card-ballroom .player-card-background { background: url('/images/room-ballroom.png'); }

.player-card-kitchen div[class^="player-card-name"] {}
.player-card-kitchen .player-card-background { background: url('/images/room-kitchen.png'); }

.player-card-rope div[class*="player-card-name"] { background: #111; color: white; }
.player-card-rope .player-card-background { background: url('/images/weapon-rope.png'); background-size: 70px!important; }

.player-card-knife div[class^="player-card-name"] { background: #111; color: white; }
.player-card-knife .player-card-background { background: url('/images/weapon-knife.png'); background-size:60px!important; }

.player-card-lead_pipe div[class^="player-card-name"] { background: #111; color: white; }
.player-card-lead_pipe .player-card-background { background: url('/images/weapon-pipe.png'); background-size:60px!important; }

.player-card-wrench div[class^="player-card-name"] { background: #111; color: white; }
.player-card-wrench .player-card-background { background: url('/images/weapon-wrench.png'); background-size:60px!important; }

.player-card-revolver div[class^="player-card-name"] { background: #111; color: white; }
.player-card-revolver .player-card-background { background: url('/images/weapon-revolver.png'); background-size:70px!important; }

.player-card-candlestick div[class^="player-card-name"] { background: #111; color: white; }
.player-card-candlestick .player-card-background { background: url('/images/weapon-candlestick.png'); background-size:55px!important; }


// #study {
// background: url('/images/board-study.png') center no-repeat;
// }
// #study-to-hall {
// background: url('/images/board-study_to_hall.png') center no-repeat;
// }
// #hall {
// background: url('/images/board-hall.png') center no-repeat;
// }
// #hall-to-lounge {
// background: url('/images/board-hall_to_lounge.png') center no-repeat;
// }
// #lounge {
// background: url('/images/board-lounge.png') center no-repeat;
// }
// #study-to-library {
// background: url('/images/board-study_to_library.png') center no-repeat;
// }
// #hall-to-billiard {
// background: url('/images/board-hall_to_billiard.png') center no-repeat;
// }
// #lounge-to-dining {
// background: url('/images/board-lounge_to_dining.png') center no-repeat;
// }
// #library {
// background: url('/images/board-library.png') center no-repeat;
// }
// #library-to-billiard {
// background: url('/images/board-library_to_billiard.png') center no-repeat;
// }
// #billiard-room {
// background: url('/images/board-billiard_room.png') center no-repeat;
// }
// #billiard-to-dining {
// background: url('/images/board-billiard_to_dining.png') center no-repeat;
// }
// #dining-room {
// background: url('/images/board-dining_room.png') center no-repeat;
// }
// #conservatory {
// background: url('/images/board-conservatory.png') center no-repeat;
// }
// #conservatory-to-ballroom {
// background: url('/images/board-conservatory_to_ballroom.png') center no-repeat;
// }
// #ballroom {
// background: url('/images/board-ballroom.png') center no-repeat;
// }
// #ballroom-to-kitchen {
// background: url('/images/board-ballroom_to_kitchen.png') center no-repeat;
// }
// #kitchen {
// background: url('/images/board-kitchen.png') center no-repeat;
// }
// #library-to-conservatory {
// background: url('/images/board-library_to_conservatory.png') center no-repeat;
// }
// #billiard-to-ballroom {
// background: url('/images/board-billiard_to_ballroom.png') center no-repeat;
// }
// #dining-to-kitchen {
// background: url('/images/board-dining_to_kitchen.png') center no-repeat;
// }


// background-color: #FFF;
// background-blend-mode: luminosity, normal;
