div
    div.player-on-board(ng-repeat="player in players" ng-class="{'player-out-of-game': player.in_the_game === false}")
        div.player-suspect {{ player.name }}
        div.player-name(ng-if="player.name") 
            small {{ pbc.expandShortname(player.suspect) }}
