div#logs(ng-if="lc.logs.length > 0")
    h3 Game Log
    ul(ng-repeat="log in lc.logs | orderBy:'-timestamp'")
        li
            span(am-time-ago="log.timestamp")
            br
            |{{ log.message }}
            
            //- br
            //- small {{ log.timestamp }}
