html(ng-app="Clueless")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        title(ng-bind="($title || 'Clueless')") 
        base(href="/")

        link(rel="stylesheet", href="/styles/vendor.css")
        link(rel="stylesheet", href="/styles/app.css")

    body.ui-view

        div#game-over(ng-if="gc.gameState.game_over")
            h1 Game Over
            h2 Won the game {{gc.gameState.winner}}
            h3 The case file contained (cards)

        div.container
            div.pure-g
                div.pure-u-3-5

                    code BAXTER: {{ gc.playerData }}

                    //- Game Board
                    table.pure-table.pure-table-bordered#board-map
                        tr
                            td#study
                                player-box(players="gc.gameState.map.study.players")
                            td#study_to_hall
                                player-box(players="gc.gameState.map.study_to_hall.players")
                            td#hall
                                player-box(players="gc.gameState.map.hall.players")
                            td#hall_to_lounge
                                player-box(players="gc.gameState.map.hall_to_lounge.players")
                            td#lounge
                                player-box(players="gc.gameState.map.lounge.players")
                        tr
                            td#study_to_library
                                player-box(players="gc.gameState.map.study_to_library.players")
                            td.hole
                            td#hall_to_billiard
                                player-box(players="gc.gameState.map.hall_to_billiard.players")
                            td.hole
                            td#lounge_to_dining
                                player-box(players="gc.gameState.map.lounge_to_dining.players")
                        tr
                            td#library
                                player-box(players="gc.gameState.map.library.players")
                            td#library_to_billiard
                                player-box(players="gc.gameState.map.library_to_billiard.players")
                            td#billiard_room
                                player-box(players="gc.gameState.map.billiard_room.players")
                            td#billiard_to_dining
                                player-box(players="gc.gameState.map.billiard_to_dining.players")
                            td#dining_room
                                player-box(players="gc.gameState.map.dining_room.players")
                        tr
                            td#library_to_conservatory
                                player-box(players="gc.gameState.map.library_to_conservatory.players")
                            td.hole
                            td#billiard_to_ballroom
                                player-box(players="gc.gameState.map.billiard_to_ballroom.players")
                            td.hole
                            td#dining_to_kitchen
                                player-box(players="gc.gameState.map.dining_to_kitchen.players")
                        tr
                            td#conservatory
                                player-box(players="gc.gameState.map.conservatory.players")
                            td#conservatory_to_ballroom
                                player-box(players="gc.gameState.map.conservatory_to_ballroom.players")
                            td#ballroom
                                player-box(players="gc.gameState.map.ballroom.players")
                            td#ballroom_to_kitchen
                                player-box(players="gc.gameState.map.ballroom_to_kitchen.players")
                            td#kitchen
                                player-box(players="gc.gameState.map.kitchen.players")

                    div(ng-if="gc.gameState.game_over")
                        h3 Game Over
                        h4 {{ gc.gameState.winner.name }} ({{ gc.expandShortname(gc.gameState.winner.suspect) }}) has won the game!

                    div(ng-if="gc.gameState.game_started && gc.playerData && gc.playerData.suggestions.length > 0")
                        h3 Suggestions
                        ul
                            li(ng-repeat="item in gc.playerData.suggestions")
                                |{{ gc.expandShortname(item.suggestion.suspect) }}
                                |with a {{ gc.expandShortname(item.suggestion.weapon) }}
                                |in {{ gc.expandShortname(item.suggestion.room) }}
                                br
                                small Disproved when {{ item.disprove.player }} ({{ gc.expandShortname(item.disprove.suspect) }}) showed you "{{ gc.expandShortname(item.disprove.card) }}"

                div.pure-u-1-5

                    h2 In the game? {{ gc.playerData.in_the_game }}
                    h2 Current turn? {{ gc.playerData.is_current_turn }}

                    div(ng-if="!gc.gameState.game_started") 
                        h3 The game has not started yet


                    div(ng-if="gc.playerData")
                        h3 Cards
                        ul
                            li(ng-repeat="card in gc.playerData.cards") {{gc.expandShortname(card)}}

                    div(ng-show="!gc.gameState.game_started&& !gc.gameState.game_over && !gc.playerData")
                        h3 Add
                        form
                            input(type="text" ng-model="gc.addForm.name")
                            select(ng-model="gc.addForm.suspect")
                                option(ng-repeat="(shortname, fullname) in gc.gameMetadata.organized_shortname_map.suspects"
                                       ng-disabled="gc.gameState.suspect_to_player[shortname] != null"
                                       value="{{shortname}}"
                                       ) {{fullname}}
                            button(type="submit" ng-click="gc.addPlayer()") Go

                        hr

                    div(ng-show="gc.gameState.game_started && !gc.gameState.game_over")
                        h3 Current Player
                        h4
                            |{{ gc.gameState.current_player.name }}
                            br
                            small {{ gc.gameState.current_player.suspect_fullname }}

                        hr

                    div(ng-show="gc.gameState.game_started && !gc.gameState.game_over")
                        h3 Move ({{ gc.playerData.turn.moved }})
                        form
                            select(ng-model="gc.moveForm.target")
                                optgroup(label="Rooms")
                                    option(ng-repeat="(shortname, fullname) in gc.gameMetadata.organized_shortname_map.rooms" value="{{shortname}}") {{fullname | removeThe }}
                                optgroup(label="Hallways")
                                    option(ng-repeat="(shortname, fullname) in gc.gameMetadata.organized_shortname_map.hallways" value="{{shortname}}") {{fullname | removeThe }}
                            button(type="submit" ng-click="gc.movePlayer()") Go

                        hr

                    div(ng-show="gc.gameState.game_started && !gc.gameState.game_over")
                        h3 Suggest ({{ gc.playerData.turn.suggested }})
                        form
                            div.form-group
                                label Suspect
                                select(ng-model="gc.suggestForm.suspect")
                                    option(ng-repeat="(shortname, fullname) in gc.gameMetadata.organized_shortname_map.suspects" value="{{shortname}}") {{fullname}}

                            div.form-group
                                label Weapon
                                select(ng-model="gc.suggestForm.weapon")
                                    option(ng-repeat="(shortname, fullname) in gc.gameMetadata.organized_shortname_map.weapons" value="{{shortname}}") {{fullname}}

                            button(type="submit" ng-click="gc.makeSuggestion()") Go

                        hr

                    div(ng-show="gc.gameState.game_started && !gc.gameState.game_over")
                        h3 Accuse ({{ gc.playerData.turn.accused }})
                        form
                            div.form-group
                                label Suspect
                                select(ng-model="gc.accuseForm.suspect")
                                    option(ng-repeat="(shortname, fullname) in gc.gameMetadata.organized_shortname_map.suspects" value="{{shortname}}") {{fullname}}

                            div.form-group
                                label Room
                                select(ng-model="gc.accuseForm.room")
                                    option(ng-repeat="(shortname, fullname) in gc.gameMetadata.organized_shortname_map.rooms" value="{{shortname}}") {{fullname | removeThe}}

                            div.form-group
                                label Weapon
                                select(ng-model="gc.accuseForm.weapon")
                                    option(ng-repeat="(shortname, fullname) in gc.gameMetadata.organized_shortname_map.weapons" value="{{shortname}}") {{fullname}}

                            button(type="submit" ng-click="gc.makeAccusation()") Go

                        hr

                    div(ng-show="gc.gameState.game_started && !gc.gameState.game_over")
                        button(type="button" ng-click="gc.endTurn()") End Turn {{ gc.playerData.turn.moved || gc.playerData.turn.suggested }}

                        hr

                    div(ng-show="gc.gameState.game_started")
                        h3 Game Sheet
                        table.pure-table.pure-table-bordered
                            thead
                                tr
                                    th(colspan="2") Suspects
                            tbody
                                tr(ng-repeat="(shortname, status) in gc.playerData.game_sheet.suspects")
                                    td {{ gc.expandShortname(shortname) }}
                                    td: span(ng-if="status == false") X
                            thead
                                tr
                                    th(colspan="2") Weapons
                            tbody
                                tr(ng-repeat="(shortname, status) in gc.playerData.game_sheet.weapons")
                                    td {{ gc.expandShortname(shortname) }}
                                    td: span(ng-if="status == false") X
                            thead
                                tr
                                    th(colspan="2") Rooms
                            tbody
                                tr(ng-repeat="(shortname, status) in gc.playerData.game_sheet.rooms")
                                    td {{ gc.expandShortname(shortname) }}
                                    td: span(ng-if="status == false") X

                div.pure-u-1-5

                    div.ui-view(name="logs")

        script(type="application/javascript", src="/scripts/vendor.js")
        script(type="application/javascript", src="/scripts/app.js")
