h1 Clueless


div.pure-g
    div.pure-u-4-5

        h1 {{ gc.gameState }}

        p(ng-if="!gc.gameState.game_started") The game has not started yet
        p(ng-if="gc.gameState.game_started") The game started #[span(am-time-ago="gc.gameState.time_started")]

        table.pure-table.pure-table-bordered#board-map
            tr
                td#study
                    player-box(players="gc.gameState.map.study.players")
                td#study_to_hall
                    player-box(players="gc.gameState.map.study_to_hall.players")
                td#hall
                    player-box(players="gc.gameState.map.hall.players")
                td#hall_to_lounge
                    player-box(players="gc.gameState.map.hall_to_lounge.players")
                td#lounge
                    player-box(players="gc.gameState.map.lounge.players")
            tr
                td#study_to_library
                    player-box(players="gc.gameState.map.study_to_library.players")
                td.hole
                td#hall_to_billiard
                    player-box(players="gc.gameState.map.hall_to_billiard.players")
                td.hole
                td#lounge_to_dining
                    player-box(players="gc.gameState.map.lounge_to_dining.players")
            tr
                td#library
                    player-box(players="gc.gameState.map.library.players")
                td#library_to_billiard
                    player-box(players="gc.gameState.map.library_to_billiard.players")
                td#billiard_room
                    player-box(players="gc.gameState.map.billiard_room.players")
                td#billiard_to_dining
                    player-box(players="gc.gameState.map.billiard_to_dining.players")
                td#dining_room
                    player-box(players="gc.gameState.map.dining_room.players")
            tr
                td#library_to_conservatory
                    player-box(players="gc.gameState.map.library_to_conservatory.players")
                td.hole
                td#billiard_to_ballroom
                    player-box(players="gc.gameState.map.billiard_to_ballroom.players")
                td.hole
                td#dining_to_kitchen
                    player-box(players="gc.gameState.map.dining_to_kitchen.players")
            tr
                td#conservatory
                    player-box(players="gc.gameState.map.conservatory.players")
                td#conservatory_to_ballroom
                    player-box(players="gc.gameState.map.conservatory_to_ballroom.players")
                td#ballroom
                    player-box(players="gc.gameState.map.ballroom.players")
                td#ballroom_to_kitchen
                    player-box(players="gc.gameState.map.ballroom_to_kitchen.players")
                td#kitchen
                    player-box(players="gc.gameState.map.kitchen.players")

        h2 Logs
        table.pure-table
            tr(ng-repeat="log in lc.logs | orderBy:'-timestamp'")
                td 
                    span(am-time-ago="log.timestamp")
                    br
                    small {{ log.timestamp }}
                td {{ log.message }}

    div.pure-u-1-5
        div(ng-show="gc.gameState.game_started")
            h3 Current Player
            h4
                |{{ gc.gameState.current_player.name }}
                br
                small {{ gc.gameState.current_player.suspect_fullname }}
        
        div(ng-show="gc.gameState.game_started")
            h3 Game Sheet
            table.pure-table
                thead
                    tr
                        th(colspan="2") Suspects
                tbody
                    tr
                        td assada
                        td assada
                    tr
                        td asdasddddd
                        td asdasddddd
                thead
                    tr
                        th(colspan="2") Weapons
                tbody
                    tr
                        td assada
                        td assada
                    tr
                        td asdasddddd
                        td asdasddddd
                thead
                    tr
                        th(colspan="2") Rooms
                tbody
                    tr
                        td assada
                        td assada
                    tr
                        td asdasddddd
                        td asdasddddd
