h3 Game Sheet
table.pure-table
    thead
        tr
            th(colspan="2") Suspects
    tbody
        tr
            td assada
            td assada
        tr
            td asdasddddd
            td asdasddddd
    thead
        tr
            th(colspan="2") Weapons
    tbody
        tr
            td assada
            td assada
        tr
            td asdasddddd
            td asdasddddd
    thead
        tr
            th(colspan="2") Rooms
    tbody
        tr
            td assada
            td assada
        tr
            td asdasddddd
            td asdasddddd
