html(ng-app="Clueless")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        title(ng-bind="($title || 'Clueless')") 
        base(href="/")

        link(rel="stylesheet", href="/styles/vendor.css")
        link(rel="stylesheet", href="/styles/app.css")

    body.ui-view

        div(ng-show="!gc.gameState.game_started&& !gc.gameState.game_over && !gc.playerData")
            div#add-player-background
            div#add-player
                h2 Let's get started with
                form
                    input(type="text" ng-model="gc.addForm.name" placeholder="your name")
                    span(ng-if="gc.addForm.name.length >= 3")
                        h3(ng-if="!gc.addForm.suspect") and a character {{ gc.expandShortname(gc.addForm.suspect) }}
                        h3(ng-if="gc.addForm.suspect") as {{ gc.expandShortname(gc.addForm.suspect) }}
                        label(ng-repeat="(shortname, fullname) in gc.gameMetadata.organized_shortname_map.suspects")
                            input(type="radio"
                                  ng-model="gc.addForm.suspect"
                                  id="{{shortname}}"
                                  value="{{shortname}}"
                                  ng-disabled="gc.gameState.suspect_to_player[shortname] != null")
                            b(class="add-player-suspect-{{shortname}}")
                        button(type="button" ng-click="gc.addPlayer()") Go

        div#game-over(ng-if="gc.gameState.game_over")
            h1 Game Over
            h2 Won the game {{gc.gameState.winner}}
            h3 The case file contained (cards)

        div.row.container
            div.col-md-8

                h1: span Clueless

                //- Game Board
                table.pure-table.pure-table-bordered#board
                    tbody
                        tr
                            td#space-study
                                div.cell-content
                                    div.description {{ gc.expandShortname('study') | removeThe }}
                                    i.fa.fa-arrow-right.teleporter-arrow
                                    player-box(players="gc.gameState.map.study.players")
                            td#space-study-to-hall.hallway 
                                div.cell-content
                                    player-box(players="gc.gameState.map.study_to_hall.players")
                            td#space-hall 
                                div.cell-content
                                    div.description {{ gc.expandShortname('hall') | removeThe }}
                                    player-box(players="gc.gameState.map.hall.players")
                            td#space-hall-to-lounge.hallway 
                                div.cell-content
                                    player-box(players="gc.gameState.map.hall_to_lounge.players")
                            td#space-lounge 
                                div.cell-content
                                    div.description {{ gc.expandShortname('lounge') | removeThe }}
                                    i.fa.fa-arrow-right.teleporter-arrow
                                    player-box(players="gc.gameState.map.lounge.players")
                        tr
                            td#space-study-to-library.hallway
                                div.cell-content
                                    player-box(players="gc.gameState.map.study_to_library.players")
                            td.hole 
                            td#space-hall-to-billiard.hallway 
                                div.cell-content
                                    player-box(players="gc.gameState.map.hall_to_billiard.players")
                            td.hole 
                            td#space-lounge-to-dining.hallway 
                                div.cell-content
                                    player-box(players="gc.gameState.map.lounge_to_dining.players")
                        tr
                            td#space-library
                                div.cell-content
                                    div.description {{ gc.expandShortname('library') | removeThe }}
                                    player-box(players="gc.gameState.map.library.players")
                            td#space-library-to-billiard.hallway
                                div.cell-content
                                    player-box(players="gc.gameState.map.library_to_billiard.players")
                            td#space-billiard-room
                                div.cell-content
                                    div.description {{ gc.expandShortname('billiard_room') | removeThe }}
                                    player-box(players="gc.gameState.map.billiard_room.players")
                            td#space-billiard-to-dining.hallway
                                div.cell-content
                                    player-box(players="gc.gameState.map.billiard_to_dining.players")
                            td#space-dining-room
                                div.cell-content
                                    div.description {{ gc.expandShortname('dining_room') | removeThe }}
                                    player-box(players="gc.gameState.map.dining_room.players")
                        tr
                            td#space-library-to-conservatory.hallway
                                div.cell-content
                                    player-box(players="gc.gameState.map.library_to_conservatory.players")
                            td.hole
                            td#space-billiard-to-ballroom.hallway
                                div.cell-content
                                    player-box(players="gc.gameState.map.billiard_to_ballroom.players")
                            td.hole
                            td#space-dining-to-kitchen.hallway
                                div.cell-content
                                    player-box(players="gc.gameState.map.dining_to_kitchen.players")
                        tr
                            td#space-conservatory
                                div.cell-content
                                    div.description {{ gc.expandShortname('conservatory') | removeThe }}
                                    i.fa.fa-arrow-right.teleporter-arrow
                                    player-box(players="gc.gameState.map.conservatory.players")
                            td#space-conservatory-to-ballroom.hallway
                                div.cell-content
                                    player-box(players="gc.gameState.map.conservatory_to_ballroom.players")
                            td#space-ballroom
                                div.cell-content
                                    div.description {{ gc.expandShortname('ballroom') | removeThe }}
                                    player-box(players="gc.gameState.map.ballroom.players")
                            td#space-ballroom-to-kitchen.hallway
                                div.cell-content
                                    player-box(players="gc.gameState.map.ballroom_to_kitchen.players")
                            td#space-kitchen
                                div.cell-content
                                    div.description {{ gc.expandShortname('kitchen') | removeThe }}
                                    i.fa.fa-arrow-right.teleporter-arrow
                                    player-box(players="gc.gameState.map.kitchen.players")

                div#logs.ui-view(name="logs")

                div(ng-if="gc.gameState.game_over")
                    h3 Game Over
                    h4 {{ gc.gameState.winner.name }} ({{ gc.expandShortname(gc.gameState.winner.suspect) }}) has won the game!

                div(ng-if="gc.gameState.game_started && gc.playerData && gc.playerData.suggestions.length > 0")
                    h3 Suggestions
                    ul
                        li(ng-repeat="item in gc.playerData.suggestions")
                            |{{ gc.expandShortname(item.suggestion.suspect) }}
                            |with a {{ gc.expandShortname(item.suggestion.weapon) }}
                            |in {{ gc.expandShortname(item.suggestion.room) }}
                            br
                            small Disproved when {{ item.disprove.player }} ({{ gc.expandShortname(item.disprove.suspect) }}) showed you "{{ gc.expandShortname(item.disprove.card) }}"

            div.col-md-2

                h2 In the game? {{ gc.playerData.in_the_game }}
                h2 Current turn? {{ gc.playerData.is_current_turn }}

                div(ng-if="!gc.gameState.game_started") 
                    h3 The game has not started yet

                    hr

                div(ng-show="gc.gameState.game_started && !gc.gameState.game_over")
                    h3 Current Player
                    h4
                        |{{ gc.gameState.current_player.name }}
                        br
                        small {{ gc.gameState.current_player.suspect_fullname }}

                    hr

                div(ng-show="gc.gameState.game_started && !gc.gameState.game_over")
                    h3 Move ({{ gc.playerData.turn.moved }})
                    form
                        select(ng-model="gc.moveForm.target")
                            optgroup(label="Rooms")
                                option(ng-repeat="(shortname, fullname) in gc.gameMetadata.organized_shortname_map.rooms" value="{{shortname}}") {{fullname | removeThe }}
                            optgroup(label="Hallways")
                                option(ng-repeat="(shortname, fullname) in gc.gameMetadata.organized_shortname_map.hallways" value="{{shortname}}") {{fullname | removeThe }}
                        button(type="submit" ng-click="gc.movePlayer()") Go

                    hr

                div(ng-show="gc.gameState.game_started && !gc.gameState.game_over")
                    h3 Suggest ({{ gc.playerData.turn.suggested }})
                    form
                        div.form-group
                            label Suspect
                            select(ng-model="gc.suggestForm.suspect")
                                option(ng-repeat="(shortname, fullname) in gc.gameMetadata.organized_shortname_map.suspects" value="{{shortname}}") {{fullname}}

                        div.form-group
                            label Weapon
                            select(ng-model="gc.suggestForm.weapon")
                                option(ng-repeat="(shortname, fullname) in gc.gameMetadata.organized_shortname_map.weapons" value="{{shortname}}") {{fullname}}

                        button(type="submit" ng-click="gc.makeSuggestion()") Go

                    hr

                div(ng-show="gc.gameState.game_started && !gc.gameState.game_over")
                    h3 Accuse ({{ gc.playerData.turn.accused }})
                    form
                        div.form-group
                            label Suspect
                            select(ng-model="gc.accuseForm.suspect")
                                option(ng-repeat="(shortname, fullname) in gc.gameMetadata.organized_shortname_map.suspects" value="{{shortname}}") {{fullname}}

                        div.form-group
                            label Room
                            select(ng-model="gc.accuseForm.room")
                                option(ng-repeat="(shortname, fullname) in gc.gameMetadata.organized_shortname_map.rooms" value="{{shortname}}") {{fullname | removeThe}}

                        div.form-group
                            label Weapon
                            select(ng-model="gc.accuseForm.weapon")
                                option(ng-repeat="(shortname, fullname) in gc.gameMetadata.organized_shortname_map.weapons" value="{{shortname}}") {{fullname}}

                        button(type="submit" ng-click="gc.makeAccusation()") Go

                    hr

                div(ng-show="gc.gameState.game_started && !gc.gameState.game_over")
                    button(type="button" ng-click="gc.endTurn()") End Turn {{ gc.playerData.turn.moved || gc.playerData.turn.suggested }}

                    hr

            div.col-md-2

                div(ng-if="gc.playerData")
                    h2 {{ gc.playerData.name }} as {{ gc.expandShortname(gc.playerData.suspect) }}
                    h3 Cards
                    div.player-card(ng-repeat="card in gc.playerData.cards" class="player-card-{{card}}")
                        span {{gc.expandShortname(card)}}

                div#game-sheet(ng-show="gc.gameState.game_started")
                    h3
                        span Game Sheet
                    table.pure-table.pure-table-bordered
                        thead
                            tr
                                th(colspan="2") Suspects
                        tbody
                            tr(ng-repeat="(shortname, status) in gc.playerData.game_sheet.suspects")
                                td {{ gc.expandShortname(shortname) }}
                                td: span(ng-if="status == false"): i.fa.fa-times
                        thead
                            tr
                                th(colspan="2") Weapons
                        tbody
                            tr(ng-repeat="(shortname, status) in gc.playerData.game_sheet.weapons")
                                td {{ gc.expandShortname(shortname) }}
                                td: span(ng-if="status == false"): i.fa.fa-times
                        thead
                            tr
                                th(colspan="2") Rooms
                        tbody
                            tr(ng-repeat="(shortname, status) in gc.playerData.game_sheet.rooms")
                                td {{ gc.expandShortname(shortname) | removeThe }}
                                td: span(ng-if="status == false"): i.fa.fa-times

        script(type="application/javascript", src="/scripts/vendor.js")
        script(type="application/javascript", src="/scripts/app.js")
