html(ng-app="Clueless")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        title(ng-bind="($title || 'Clueless')") 
        base(href="/")

        link(rel="stylesheet", href="/styles/vendor.css")
        link(rel="stylesheet", href="/styles/app.css")

    body.ui-view

        include ./addPlayer.jade

        include ./gameOver.jade

        div.row.container
            div.col-md-8

                h1: span Clueless

                include ./board.jade

                div.ui-view(name="logs")

                include ./suggestionsPanel.jade

            div.col-md-4(ng-class="{'this-player-is-done': !gc.playerData.in_the_game}")
                
                div#this-player(class="this-player-{{ gc.playerData.suspect }}")
                    h2 {{ gc.playerData.name }}
                    h3 {{ gc.playerData.suspect_fullname }}

                div#cards(ng-if="gc.playerData")
                    div.player-card(ng-repeat="card in gc.playerData.cards" class="player-card-{{card}}")
                        div.player-card-name {{gc.expandShortname(card) | removeThe }}
                        div.player-card-background
                        div.player-card-name-rotated {{gc.expandShortname(card) | removeThe }}

                div#game-not-started(ng-if="!gc.gameState.game_started") 
                    h3 #[i.fa.fa-arrow-up] Those are your cards. 
                        br
                        small They're marked off on your game sheet. Cards that disprove all suggestions you make will be on there as well.
                    h3 #[i.fa.fa-hourglass-half] Waiting for all players to join&hellip;

                div.row
                    
                    div.col-md-6

                        div#current-player(ng-show="gc.gameState.game_started" class="current-player-{{gc.gameState.current_player.suspect}}")
                            h3 Current Player
                            h4
                                |{{ gc.gameState.current_player.name }}
                                br
                                small {{ gc.gameState.current_player.suspect_fullname }}

                        div#actions
                            h3 Actions
                            div.action-mask(ng-if="gc.gameState.current_player.suspect != gc.playerData.suspect || !gc.gameState.game_started")

                            include ./actionMove.jade

                            include ./actionSuggest.jade

                            include ./actionAccuse.jade

                            div#end-turn
                                button(type="submit" ng-click="gc.endTurn()") End Turn

                    div.col-md-6

                        include ./gameSheet.jade

        script(type="application/javascript", src="/scripts/vendor.js")
        script(type="application/javascript", src="/scripts/app.js")
