// ------- Current Player ------

#current-player {
    border-bottom: 1px dotted #CCC;
    padding: 0 0 10px 0;
}

#current-player h3,
#current-player h4 {
    margin: 0;
    padding: 0;
}

#current-player h3 {
    margin: 10px 0 10px 0;
}

#current-player h3,
#current-player h4 {
    font-family: Montserrat;
}

#current-player h4 small {
    font-family: Oswald;
    font-weight: 100;
}

.current-player-green {
    background: url('/images/character-green.png') top right no-repeat;
    background-size: 70px;
    background-position-y: 30px;
    background-position-x: 80px;
}

.current-player-scarlet {
    background: url('/images/character-scarlet.png') top right no-repeat;
    background-size: 60px;
    background-position-y: 30px;
    background-position-x: 90px;
}

.current-player-peacock {
    background: url('/images/character-peacock.png') top right no-repeat;
    background-size: 70px;
    background-position-y: 30px;
    background-position-x: 80px;
}

.current-player-mustard {
    background: url('/images/character-mustard.png') top right no-repeat;
    background-size: 70px;
    background-position-y: 30px;
    background-position-x: 85px;
}

.current-player-white {
    background: url('/images/character-white.png') top right no-repeat;
    background-size: 60px;
    background-position-y: 25px;
    background-position-x: 100px;
}

.current-player-green h4 {
    color: @green;
}

.current-player-green h4 small {
    color: lighten(@green, 10%);
}

.current-player-mustard h4 {
    color: @mustard;
}

.current-player-mustard h4 small {
    color: darken(@mustard, 10%);
}

.current-player-peacock h4 {
    color: @peacock;
}

.current-player-peacock h4 small {
    color: lighten(@peacock, 10%);
}

.current-player-plum h4 {
    color: @plum;
}

.current-player-plum h4 small {
    color: lighten(@plum, 10%);
}

.current-player-scarlet h4 {
    color: @scarlet;
}

.current-player-scarlet h4 small {
    color: lighten(@scarlet, 10%);
}

.current-player-white h4 {
    color: #333;
}

.current-player-white h4 small {
    color: #666;
}