// ------ Gamesheet ------

#game-sheet h3 {
    margin: 10px 0 5px 0;
    padding: 0 0 0 15px;
    width: 100%;
    text-align: left;
    font-family: Montserrat;
    font-weight: 900;
}

#game-sheet table {
    width: 100%;
    background-size: contain;
    border-collapse: collapse;
}

#game-sheet table thead tr th {
    font-family: Montserrat;
    padding: 10px 0 5px 15px;
    text-align: left;
    font-weight: 100;
}

#game-sheet table tbody {
    width: 95%;
}

#game-sheet table tr td {
    border-bottom: 1px dotted #CCC;
    padding: 2px 5px;
    font-family: Oswald;
    font-weight: 300;
    font-size: 12px;
}

#game-sheet table tr td:first-child {
    padding-left: 15px;
}

#game-sheet table tr td:nth-child(2) {
    text-align: center;
}

#game-sheet table tr:last-child td {
    border-bottom: none;
}