#this-player {
    margin-top: 0;
    padding-top: 50px;

    h2 {
        margin: 0;
        padding: 0;
        font-family: Montserrat;
    }

    h3 {
        margin: 0;
        padding: 0;
        font-family: Oswald;
        font-weight: 100;
    }

}

.this-player-green {
    background: url('/images/character-green.png') top right no-repeat;
    background-size: 200px;
    background-position-y: -10px;

    h2 {
        color: @green;
    }

    h3 {
        color: lighten(@green, 10%);
    }

}

.this-player-scarlet {
    background: url('/images/character-scarlet.png') top right no-repeat;
    background-size: 160px;
    background-position-y: -20px;

    h2 {
        color: @scarlet;
    }

    h3 {
        color: lighten(@scarlet, 10%);
    }

}

.this-player-plum {
    background: url('/images/character-plum.png') top right no-repeat;
    background-size: 160px;
    background-position-y: 3px;

    h2 {
        color: @plum;
    }

    h3 {
        color: lighten(@plum, 10%);
    }

}

.this-player-peacock {
    background: url('/images/character-peacock.png') top right no-repeat;
    background-size: 200px;
    background-position-y: -10px;

    h2 {
        color: @peacock;
    }

    h3 {
        color: lighten(@peacock, 10%);
    }

}

.this-player-mustard {
    background: url('/images/character-mustard.png') top right no-repeat;
    background-size: 200px;
    background-position-y: -5px;

    h2 {
        color: @mustard;
    }

    h3 {
        color: darken(@mustard, 10%);
    }

}

.this-player-white {
    background: url('/images/character-white.png') top right no-repeat;
    background-size: 200px;
    background-position-y: -75px;

    h2 {
        color: #333;
    }

    h3 {
        color: #666;
    }

}

.this-player-is-done {
    h2 {
        color: #999;
    }

    h3 {
        color: #CCC;
    }

    #this-player,
    #cards,
    #game-sheet table {
        -webkit-filter: grayscale(1);
        opacity: 0.5;
    }

    #current-player h3 {
        color: #333;
    }

}