// ------ Toastr -------

// Toastr
#toast-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.toast {
    position: relative;
    height: 30px;
    opacity: 0.95;
    color: white;
    padding: 0 10px;
    line-height: 30px;
    font-family: Lato;
    font-weight: 100;
    cursor: pointer;
}

.toast .toast-message {
    z-index: 9999;
}

.toast .toast-progress {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 30px;
    z-index: -999;
}

.toast-info {
    display: none;
}

.toast-error {
    background: #F90403;
    border-top: 1px solid #FF0000;
}

.toast-error .toast-progress {
    background: #990000;
}

.toast-success {
    background: #698C00;
}

.toast-success .toast-progress {
    background: #4C6600;
}